@import "variables"

@media screen and (max-width: 1199.98px)

	.header

		.header-inner

			.btn-burger
				display: block

			.btn-header
				display: none

			.wrapper-menu
				display: none

@media screen and (max-width: 400.98px)

	#menu
		width: 200px